/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-giu-2016, 13.15.58
    Author     : Giovanni
*/

/*body > .grid {
    height: 100%;
}*/
        
/*.column {
    max-width: 450px;
}*/

#p_button {
    background-color: #ffbf66;
}

#s_text{
    background-color:rgba(256,256,256,0.6)
}