/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-giu-2016, 13.03.52
    Author     : Federica
*/



.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 5em;
  margin-bottom: 0em;
}

@media only screen and (max-width: 700px){
  .masthead h1.ui.header {
  margin-top: -0.7em;
  font-size: 3em;
  }
}