<?xml version="1.0" encoding="UTF-8"?>
<!--
    Route file.
    In this XML file there are specified all the applications routes.
    Every route must have filled every tag below. 
    Author: Giovanni De Toni
-->
<routes>
    <route>
        <url>/</url>
        <method>GET</method>
        <controller>StaticPages</controller>
        <action>home</action>
        <format>html</format>            
    </route>
    <route>
        <url>/protected</url>
        <method>GET</method>
        <controller>StaticPages</controller>
        <action>protected_pages</action>
        <format>html</format>            
    </route>
</routes>
